.psdbody{
    width:1198px;
    height:598px;
    border:1px solid #d6d7dc;
    margin:20px auto;
    background: #ffffff;
}
.psdbody h5{
    padding-left: 30px;
    font-size: 23px;
    color:#000000;
    line-height: 59px;
    border-bottom: 1px solid #d6d7dc;
}
.srk{
    width:300px;
    height:150px;
    margin:0 auto;
    margin-top:90px;
    overflow: hidden;

}
.srk li{
    width:300px;
    height:150px;
}
.srk li p{
    width:298px;
    height:47px;
    padding-top:1px;
    border:1px solid #d6d7dc;
    margin-bottom:20px;
}
.srk li p input{
    border:none;
    width:156px;
    padding-left: 20px;
    height:47px;
    line-height:47px;
}
.srk li p input[type=button]{
    width:120px;
    height:44px;
    display:block;
    background: #ffa800;
    float:right;
    color:#ffffff;
}
#nextBtn{
    width:200px;
    height:50px;
    background: #ffa800;
    margin:0 auto;
    display: block;
    border: none;
    color:#ffffff;
    font-size: 23px;
    line-height:50px;
}






























